# Python Virtual Environment
.venv

# Cosmic Reach Jars
client.jar
server.jar

# Cosmic Reach Files
bannedAccounts.txt
bannedIPs.txt
gameSettings.json
operatorAccounts.txt
whitelist.txt
worlds

# Secrets
.env

# Stuff test scripts output
skin.png

# poetry dist
dist
